/* components/layout.module.css */

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}


.nav_ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
  padding-inline-start: 20px;
  flex-wrap: wrap;
}

.nav_li {
	margin: 15px 15px 0 0;
}

.nav_a {
  font-size: 30px;
}
